{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href={% static 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap' %} rel="stylesheet">

    <title>Stand CSS Blog by TemplateMo</title>

    <!-- Bootstrap core CSS -->
    <link href={% static 'vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href={% static "css/fontawesome.css"%}>
    <link rel="stylesheet" href={% static "css/templatemo-stand-blog.css"%}>
    <link rel="stylesheet" href={% static "css/owl.css"%}>

</head>
<body>
     {% for post in posts %}
          <div class="item">
            <img style="width: 400px;height: 200px" src={{ post.image.url }} alt={{ post.title }}>
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>{{post.category.first.name}}</span>
                </div>
                <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
                <ul class="post-info">
                  <li><a href="#">{{ post.author.username }}</a></li>
                  <li><a href="#">{{ post.created_at }}</a></li>
                  <li><a href="#">12 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
            {% endfor %}
</body>
</html>